{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <script defer src="{% static 'js/app.js' %}"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=6962185e8c1c0' async='true'></script>
  <title>Paraparapu Chethi</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="{% url 'news'%}" class="header__logo" aria-label="home-link">
          <img src="{%static 'images/lo.png'%}" alt="" />
        </a>
        <nav class="header__nav" role="main-navigation">
          <ul class="header__list">
            <li class="header__item">
              <a href="{% url 'news'%}" class="header__link">Home</a>
            </li>
            <li class="header__item">
              <a href="{% url 'new-news'%}" class="header__link">New</a>
            </li>
            <li class="header__item">
              <a href="{% url 'magazine_page'%}" class="header__link">Magazines</a>
            </li>
            
            <li class="header__item header__dropdown">
              <a href="#" class="header__link">Categories</a>
              <ul class="dropdown-menu">
                {% for tag in tags %}
                  <li><a class="dropdown-item" href="{% url 'news-by-tag' tag.name %}">{{ tag.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </nav>
        <button id="menu-btn" class="hamburger">
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </div>
    </div>
  </header>

  <nav class="mobile-nav" id="mobile-nav">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="{% url 'news' %}" class="mobile-nav__link">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a href="{% url 'new-news' %}" class="mobile-nav__link">New</a>
      </li>
      <li class="mobile-nav__item">
        <a href="{% url 'magazine_page' %}" class="mobile-nav__link">Magazines</a>
      </li>
      <li class="mobile-nav__item header__item header__dropdown mobile-nav__link">
          <a href="#" class="header__link mobile-nav__link">Categories</a>
            <ul class="dropdown-menu">
              {% for tag in tags %}
                <li><a class="dropdown-item" href="{% url 'news-by-tag' tag.name %}">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          
      </li>
    </ul>
  </nav>
  <main>
    <section class="news">
      <div class="container">
        <div class="news__inner">
          <article class="news__main">
            <img src="{%static 'images/b.png'%}" alt="Web3 future"
              class="news__main-cover news__main-cover--desktop" />
            <img src="{%static 'images/b.png'%}" alt="Web3 future"
              class="news__main-cover news__main-cover--mobile" />
            <div class="news__main-content">
              <h1 class="news__main-title">
                The Bright Future of Web 3.0?</h1>
              <div class="news__main-info">
                <p class="news__main-subtitle">
                  We dive into the next evolution of the web that claims to put
                  the power of the platforms back into the hands of the people.
                  But is it really fulfilling its promise?
                </p>  
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <h1 class="container" style="margin-top: 50px; margin-bottom: 20px; font-size: 40px; font-weight: bold; text-align: center; text-transform: uppercase; letter-spacing: 2px; font-family: Arial, sans-serif;">
  Magazines ! 
</h1><section class="recent">
      <div class="container"> <!-- Add this heading -->
        <div class="recent__inner">
          <ul class="recent__list">
            {% for item in magazines %}
            <li class="recent__item">
              <article class="recent__article">
                {% if item.thumbnail %}
                  <img class="recent__article-covermag" src="{{ item.thumbnail.url }}" alt="">
                {% else %}
                  <img class="recent__article-cover" src="{% static 'images/d.jpg' %}" alt="No Image">
                {% endif %}
                <div class="recent__article-info">
                  <h4 class="recent__article-title">
                    <a href="{% url  'single-mag' item.title %}">{{ item.title|truncatewords:10 }}</a>
                  </h4>
                  
                  <p class="recent__article-subtitle">
                    {{ item.description|linebreaksbr|truncatewords:19|safe }}
                  </p>  
                <a href="{% url 'single-mag' item.title %}" class="read-more-link">Read more →</a>
                </div>
              </article>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    </main>
</body>

</html>
